.mdl-layout {
    align-items: center;
    justify-content: center;
}
.mdl-layout__content {
    padding: 24px;
    flex: none;
}
.mdl-layout__content > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 50%;
}